@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
  --accent: #2339db;
  --lightFont: #FFFFFF;
  --darkBG: #333333;
  --darkFont: #333333;
  --medBG: #454545;
  --tableSize: 42rem;
  --lightBG: #f0f0f0;
  --lightBG2: #d0d0d0;
  --medFont: #454545;  
}

*{
  box-sizing: border-box;
  font-family: 'oswald';
  color: var(--medFont);
  scroll-behavior: smooth;
}

body{
  overflow-x:hidden;
  width:100vw;
  max-width:100vw;
  padding-bottom: 4rem;
}

#page-container{
  width: var(--tableSize);
  margin: 0 auto 3rem auto;
}

#guitar-container{
    width: 6rem;
    height: 6rem;
}

#main-table{
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1rem;
  max-width: var(--tableSize);
  align-items: center;
  margin-bottom: 2rem;
}

#main-table button:hover{
  background: var(--accent);
  cursor: pointer;
}

#main-table p{
  margin:0rem 0rem 0rem 0.5rem;
}

.table-header{
  font-size:1rem;
  color: var(--lightFont);
  text-align:center;
  background: var(--medBG);
  margin: 0 !important;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  transition: background 0.15s ease-in-out;
}

.lyrics-link{
  text-align:left;
  background: var(--accent);
  color: var(--lightFont);
  width: 2.8rem;
  justify-self: center;
  font-size: 1rem;
  transition: all 0.15s ease-in-out;
  border: none;
  border-radius: 5px;
}

.lyrics-link:hover{
  background: var(--medBG) !important;
  color: var(--lightFont);
}

.page-link{
  text-align:center;
  padding: 0.5rem 1rem;
  background: var(--lightBG);
  border: 1px solid var(--darkBG);
  text-decoration: none;
}

.times-played-stat{
  text-align: center;
}

.chord-title, .chord-text{
  display: inline-block;
  font-weight: 500;
  color: var(--lightFont);
  text-align: center;
  margin: 0 auto 0.5rem auto;
  background: var(--accent);
  font-size: 1rem;
  padding:0.2rem 0.4rem;
  border-radius: 5px;
}

.tab-container{
  display: inline-block;
  width: 4rem;
  text-align: center;
  margin-bottom: 1rem;
}

.tab-line{
  text-align: center;
}

#lyric-chord-container{
  z-index:3;
  width: 100vw;
  min-height: 100vh;
  padding: 0 calc((100vw/2 - var(--tableSize)/2));
  background: var(--lightBG);
  position:absolute;
  left: 100vw;
  top:0;
  transition: all 0.4s ease-in-out;
}

.lyric-menu{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.song-title{
  display: inline-block;
}

.back{
  border:none;
  display: inline-block;
  background: var(--medBG);
  border-radius: 5px;
  color: var(--lightFont);
  padding: 0.25rem 0.5rem 0.35rem 0.5rem;
  margin: 1.5rem 0;
}

.back:hover{
  cursor: pointer;
}

.toggle, .toggle-accent{
  padding: 0.15rem 0.5rem 0.2rem 0.5rem;
  margin:1.4rem 0.1rem;
}

.toggle-accent{
  background: var(--medBG);
  color: var(--lightFont);
  border-radius: 5px;
}

#autoscroll-display{
  visibility: hidden;
}

.autoscroll-menu{
  display:flex;
  justify-content: space-between;
  position: sticky;
  float: right;
  top: 1rem;
}

.query-small{
  display: none;
}

#animation-container{
  width:2rem;
  height:2rem;
}

#mark-played-container{
  display: flex;
}

@media screen and (max-width: 475px){
  :root{
    --tableSize: 96vw;
  }
  /* html{
    font-size:16px;
  } */
  .table-item{
    font-size: 0.88rem;
  }
  .table-header{
    height: 4rem;
    vertical-align: middle;
  }
  #page-container{
    padding: 0;
    margin: 0;
  }
  .query-small{
    display: inline;
  }
  #main-table{
    gap:1rem 0.4rem;
  }
}

/* Edit DB styles */

#edit-options{
  display: flex;
  gap:2px;
  background: #FFFFFF;
  width: 8.15rem;
  position: relative;
}

.option-button{
  border: 1px solid var(--darkFont);
  border-bottom: 1px solid var(--darkFont);
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  padding: 0.25rem 0.5rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  position: relative;
  top: 1px;
  z-index:2;
}

#new-item{
  background: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}

#search-item{
  background: var(--lightBG);
}

#edit-item{
  background: var(--lightBG2);
}

#form-space{
  width:100%;
  min-height: 15rem;
  border: 1px solid var(--darkFont);
  border-radius: 5px;
  border-top-left-radius: 0px;
  transition: all 0.2s ease-in-out;
  padding: 2rem;
  margin-bottom: 3rem;
  position:relative;
  z-index:1;
}

#left-border-filler{
  position:absolute;
  left:0;
  top:25px;
  z-index: 3;
  height:10px;
  border-left: 1px solid var(--darkBG);
}

#form-space input[type="text"], #form-space textarea, #form-space select{
  display:block;
  margin-bottom: 1rem;
  width:100%;
}

#chords{
  min-height: 6rem;
}

#lyrics{
  min-height: 10rem;
}

#save{
  display:block;
  text-align:center;
  width: 10rem;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

#search-id, #search-title{
  display:block;
  justify-self: start;
  padding: 0.5rem 1rem;
  width: auto;
  margin-bottom: 1rem;
}

#modal{
  position: fixed;
  width: 20rem;
  background: var(--medBG);
  border-radius: 5px;
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
  top: 6rem;
  left: calc((100vw - 20rem) / 2 );
  z-index: 4;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: middle;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  pointer-events: none;
}

#modal p{
  color: var(--lightFont);
  text-align: center;
}


@media screen and (max-width: 400px){
  .table-item{
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 475px) and (max-width: 672px){
  :root{
    --tableSize: 96vw;
  }
  /* html{
    font-size:16px;
  } */
  .table-header{
    height: 4rem;
    vertical-align: middle;
  }
  #page-container{
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
  }
  .query-small{
    display: inline;
  }
  #main-table{
    gap:1rem 0.4rem;
  }
}

/* Builder Styles */

.small-input{
  width: 2rem;
  text-align:center;
}

#add-chord{
  margin-top: 1rem;
}

#chord-builder{
  display:flex;
  justify-content: left;
  flex-wrap: wrap;
  align-items: center;
}

.chord-title, .chord-text{
  display: inline-block;
  font-weight: 500;
  color: var(--lightFont);
  text-align: center;
  margin: 0 auto 0.5rem auto;
  background: var(--accent);
  font-size: 1rem;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
}

.tab-container, #tab-container-input {
  display: inline-block;
  width: 4rem;
  text-align: center;
}

#tab-container-input{
  width: 6rem;
}

.tab-line {
  text-align: center;
}

.lyric-container {
  width: 42rem;
  position: relative;
}

#fixed-bottom {
  height: 2.5rem;
  width: 100vw;
  background: var(--lightBG2);
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: center;
}

#fixed-bottom h2,
#fixed-bottom p, #fixed-bottom span {
  margin: 0 2rem;
}

#fixed-bottom span {
  margin: 0 0.5rem 0 0;
}

#chord-text-input{
  width: 3rem;
}

#chord-options{
  min-width: 10rem;
}

#chord-options span:hover{
  cursor: pointer;
}

.centered-title {
  text-align: center;
}

.builder-textarea {
  margin: 2rem auto;
  display: block;
  height: 20rem;
  width: 100%;
}

@media screen and (max-width: 780px){
  .mobile-remove{
    display: none;
  }
  #chord-text-input{
    width: 3rem;
    margin-right:0.25rem;
  }
}
